<main>
    {{#if hasProducts}}
        {{#each prods}}
            <div class="card">
                <img src="https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80" alt="Denim Jeans" style="width:100%">
                <h1>{{ this.title }}</h1>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
            </div>
        {{/each}}
    {{else}}
        <h1>No Products!</h1>
    {{/if}}
</main>